@import "./src/styles.scss";

.custom-button {
    display: inline-block;
    text-align: center;
    border-radius: $radius;
    background: linear-gradient(45deg, $warm-yellow 0%, $vibrant-red 100%);
    color: $soft-white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 600;
  transition: all .4s;
}

.custom-button:hover {
    background: linear-gradient(225deg, $vibrant-red 0%, $vibrant-red 100%); // still needs some animation
}
