
header {
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    display: flex;
    width: 1280px;
    padding: var(--Raius, 20px) 60px;
    justify-content: space-between;
    align-items: center;    
}