<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Landing Page</title>
  </head>
  <app-header></app-header>

  <section class="hero-section">
    <h1>Wir bauen Ihre neue Website</h1>
    <p id="hero-text">Schnell. Günstig. Unkompliziert. Unser Versprechen: In nur 1 Woche zur feritgen Website!*</p>
    <app-main-button> Lass uns reden </app-main-button>
  </section>
  <section class="lets-talk-section">
    <div id="lets-talk-section-overlay"></div>
    <div id="lets-talk-section-round-border">
      <div></div>
    </div>
  </section>

  <div id="background">
    <div id="outer-wrappe-version">
      <h2>Warum richtiges Webdesign wichtig ist</h2>
      <div class="text-container">
        <!--Wahrscheinlich zu viel Text. Muss gekürtzt werden, TODO: responsived wrap-->
    <p>
        <p>
          Gutes Webdesign ist entscheidend für den Erfolg Ihres Unternehmens.
          Als professionelle Webagentur verstehen wir, dass es nicht nur um
          hübsche Bilder geht – es geht darum, eine Verbindung zu Ihren Kunden
          herzustellen, Ihre Marke überzeugend zu präsentieren und letztlich
          Ihre Geschäftsziele zu erreichen.Stellen Sie sich Ihre Website als das
          digitale Schaufenster Ihres Unternehmens vor. Der erste Eindruck
          zählt, und oft entscheiden sich potenzielle Kunden innerhalb weniger
          Sekunden, ob sie auf Ihrer Seite bleiben oder weiterklicken. Eine gut
          gestaltete Website sorgt dafür, dass Besucher sich intuitiv
          zurechtfinden, schnell finden, wonach sie suchen, und sich willkommen
          fühlen.
        </p>
        <p>
          Dies fördert nicht nur das Vertrauen, sondern auch die Bereitschaft,
          mit Ihnen in Kontakt zu treten und Ihre Dienstleistungen oder Produkte
          in Anspruch zu nehmen. In unserer heutigen, mobilen Welt ist es zudem
          unerlässlich, dass Ihre Website auf allen Geräten optimal
          funktioniert.<br /><br />Egal ob Desktop, Tablet oder Smartphone –
          Ihre Kunden erwarten eine nahtlose und angenehme Erfahrung. Ein
          responsives Design stellt sicher, dass Ihre Seite auf jedem Bildschirm
          großartig aussieht und problemlos genutzt werden kann. So verlieren
          Sie keine potenziellen Kunden, nur weil sie unterwegs sind.
        </p>
      </div>
    </div>
  </div>
  <div class="outer-wrapper" id="second">
    <h2>Was uns besonders macht</h2>
    <!--Wahrscheinlich zu viel Text. Muss gekürtzt werden-->
    <p>
      Willkommen bei [Name der Webagentur] – Ihre erste Wahl für beeindruckende
      und effiziente Weblösungen. Was uns von der Konkurrenz abhebt, ist unser
      einzigartiger Ansatz, der Flexibilität, Schnelligkeit und Transparenz in
      den Mittelpunkt stellt. <b>Flexibilität</b> ist das Herzstück unserer
      Arbeit. Wir passen uns Ihren individuellen Bedürfnissen an und bieten
      maßgeschneiderte Lösungen, die genau auf Ihr Geschäft zugeschnitten sind.
      Egal, ob Sie eine einfache Landingpage oder eine komplexe
      E-Commerce-Website benötigen – wir haben die Expertise, um Ihre Vision zum
      Leben zu erwecken. Unsere Stärke liegt in der **Schnelligkeit**. Zeit ist
      Geld, und wir verstehen, dass Ihre Online-Präsenz schnell stehen muss.
      Deshalb geben wir Ihnen das Versprechen, Ihre Website innerhalb einer
      Woche fertigzustellen. Unser effizientes Projektmanagement und unser
      erfahrenes Team ermöglichen es uns, Deadlines einzuhalten, ohne
      Kompromisse bei der Qualität einzugehen. Wir sind stolz darauf,
      **unkompliziert** zu sein. Der Prozess der Erstellung einer Website kann
      oft überwältigend erscheinen. Doch wir gestalten ihn für Sie so einfach
      und stressfrei wie möglich. Von der ersten Beratung bis zur finalen
      Übergabe sind wir an Ihrer Seite und klären alle Ihre Fragen, damit Sie
      sich auf das Wesentliche konzentrieren können – Ihr Geschäft. Unsere
      oberste Priorität ist die <b>Transparenz</b>. Bei uns gibt es keine
      versteckten Kosten oder böse Überraschungen. Wir halten Sie stets über den
      Fortschritt Ihres Projekts auf dem Laufenden und bieten Ihnen volle
      Einsicht in jeden Schritt des Prozesses. So wissen Sie immer genau, woran
      Sie sind. Wählen Sie [Name der Webagentur] und erleben Sie, wie einfach
      und schnell der Weg zu Ihrer neuen Website sein kann. Lassen Sie uns
      gemeinsam Großes schaffen – unkompliziert, flexibel und transparent.
      Kontaktieren Sie uns noch heute und überzeugen Sie sich selbst!
    </p> 
  </div>

  <body></body>
</html>
