@import "./src/styles.scss";


.hero-section{
    background: linear-gradient(164deg, $deep-blue 0%, #004DBB 97.07%);
    color: $soft-white;
    padding: 10% 160px;
    border-radius:  0 0 50px 50px ; //later with responsive measures instead of px
    display: flex;
    gap: 40px;
    flex-direction: column;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 7rem;
    margin: 0px;
    line-height: 95%;
}


// Responsive

@media (max-width: 768px) {
    
    h1{
        font-size: 5rem;
    }
}

