<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page</title>
</head>
<app-header></app-header>


<div class="hero-section">
  <h1>Wir bauen Ihre neue Website</h1>
  <p>Bla bla bla bla bla bla bla bla bla </p>
  <app-main-button>
    Lass uns reden
  </app-main-button>
</div>





<body>
</body>
</html>
