// styles.scss


// Variables
$deep-blue: #002355;
$soft-white: #ffff;
$light-blue: #A3C5CE;
$warm-yellow: #F2BA05;
$vibrant-red: #EB3816;
$radius: 20px;

body{
    margin: 0;
    overflow-x: hidden;
    background-color: $light-blue;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: bold;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: medium;
}
